$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

@import './utils/variables';
@import './base/common';
@import './base/visually-hidden';

@import './components/container';
@import './components/section';
@import './components/logo';

@import './components/header';
@import './components/mobile-menu';
@import './components/footer';

@import './components/hero';
@import './components/features';
@import './components/what-we-do';
@import './components/team';
@import './components/our-clients';
@import './components/hero-modal';

@import './components/portfolio-filter';
@import './components/portfolio';
