.portfolio-list {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    gap: var(--portfolio-card-set-gap);
  }
}

.portfolio-list__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.portfolio-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list__item--overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  top: 1px;
  left: 0;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--brand-color-third);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
    overflow: scroll;
  }
}

.portfolio-list__caption {
  padding: 20px 24px;
  flex-grow: 1;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}

.portfolio-list__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-main);
}

.portfolio-list__item-marker {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}
