.what-we-do-section {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    padding-top: 0;
  }
}

.what-we-do-container {
  margin-left: auto;
  margin-right: auto;
}

.what-we-do-section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.what-we-do-list__title {
  position: absolute;
  bottom: 0;

  margin: 0;
  padding: 27px 0 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--brand-color-third);

  background-color: rgba(47, 48, 58, 0.8);
}
