:root {
  --brand-color: #2196f3;
  --brand-color-secondary: #000000;
  --brand-color-third: #ffffff;
  --header-bottom-border: #ececec;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --footer-text-first-color: #ffffff;
  --footer-text-second-color: rgba(255, 255, 255, 0.6);
  --hero-text-color: #ffffff;
  --hero-backdrop-background-color: rgba(0, 0, 0, 0.2);
  --hero-modal-background: #ffffff;
  --background-color: #2f303a;
  --our-team-background-color: #f5f4fa;
  --team-card-background-color: #ffffff;
  --filter-button-color: #F5F4FA;
  --portfolio-card-set-gap: 30px;
  --icon-color: #afb1b8;
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --mobile-menu-background: #ffffff;
}
